################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Presentation/Nop.Web/obj
/Libraries/Nop.Core/bin/Debug/net6.0
/Libraries/Nop.Core/obj/Debug/net6.0
/Libraries/Nop.Data/bin/Debug/net6.0
/Libraries/Nop.Data/obj/Debug/net6.0/ref
/Libraries/Nop.Data/obj/Debug/net6.0/refint
/Libraries/Nop.Services/bin/Debug/net6.0
/Libraries/Nop.Data/obj/Debug/net6.0
/Libraries/Nop.Services/obj/Debug/net6.0
/Presentation/Nop.Web/bin/Debug/net6.0
/Presentation/Nop.Web/Plugins/bin
/Presentation/Nop.Web.Framework/bin/Debug/net6.0
/Presentation/Nop.Web.Framework/obj/Debug/net6.0
/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/Debug/net6.0
/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj/Debug/net6.0
/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj/Debug/net6.0
/Plugins/Nop.Plugin.Misc.Sendinblue/obj/Debug/net6.0
/Plugins/Nop.Plugin.Misc.WebApi.Frontend/obj/Debug/net6.0
/Plugins/Nop.Plugin.MultiFactorAuth.GoogleAuthenticator/obj/Debug/net6.0
/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj/Debug/net6.0
/Plugins/Nop.Plugin.Widgets.What3words/obj/Debug/net6.0
/Plugins/Nop.Plugin.Widgets.NivoSlider/obj/Debug/net6.0
/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj/Debug/net6.0
/Plugins/Nop.Plugin.Widgets.FacebookPixel/obj/Debug/net6.0
/Plugins/Nop.Plugin.Widgets.AccessiBe/obj/Debug/net6.0
/Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/obj/Debug/net6.0
/Plugins/Nop.Plugin.Tax.Avalara/obj/Debug/net6.0
/Plugins/Nop.Plugin.Shipping.UPS/obj/Debug/net6.0
/Plugins/Nop.Plugin.Shipping.FixedByWeightByTotal/obj/Debug/net6.0
/Plugins/Nop.Plugin.Shipping.EasyPost/obj/Debug/net6.0
/Plugins/Nop.Plugin.Pickup.PickupInStore/obj/Debug/net6.0
/Plugins/Nop.Plugin.Payments.PayPalStandard/obj/Debug/net6.0
/Plugins/Nop.Plugin.Payments.PayPalCommerce/obj/Debug/net6.0
/Plugins/Nop.Plugin.Payments.Manual/obj/Debug/net6.0
/Presentation/Nop.Web/wwwroot/bundles
/Tests/Nop.Tests/bin/Debug/net6.0
/Tests/Nop.Tests/obj/Debug/net6.0
/Presentation/Nop.Web/wwwroot/images/thumbs
/.cache

/Plugins
/Libraries/Nop.Core/obj/project.nuget.cache
/Libraries/Nop.Core/obj/project.assets.json
/Libraries/Nop.Core/obj/Nop.Core.csproj.nuget.g.props
/Libraries/Nop.Core/obj/Nop.Core.csproj.nuget.dgspec.json
/Libraries/Nop.Data/obj/project.nuget.cache
/Libraries/Nop.Data/obj/project.assets.json
/Libraries/Nop.Data/obj/Nop.Data.csproj.nuget.g.props
/Libraries/Nop.Data/obj/Nop.Data.csproj.nuget.dgspec.json
/Libraries/Nop.Services/obj/project.nuget.cache
/Libraries/Nop.Services/obj/project.assets.json
/Libraries/Nop.Services/obj/Nop.Services.csproj.nuget.g.props
/Libraries/Nop.Services/obj/Nop.Services.csproj.nuget.dgspec.json
/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/runtimes/linux-arm64/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/runtimes/linux-musl-x64/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/runtimes/linux-x64/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/runtimes/osx/native/libSkiaSharp.dylib
/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/runtimes/osx/native/libHarfBuzzSharp.dylib
/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/Presentation/Nop.Web/Plugins/ExternalAuth.Facebook/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/Content/styles.css
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/linux-arm/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/linux-arm64/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/linux-musl-x64/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/linux-x64/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/osx/native/libSkiaSharp.dylib
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/osx/native/libHarfBuzzSharp.dylib
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/win-arm64/native/libSkiaSharp.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/win-arm64/native/libHarfBuzzSharp.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/win-x64/native/libSkiaSharp.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/win-x64/native/libHarfBuzzSharp.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/win-x86/native/libSkiaSharp.dll
/Presentation/Nop.Web/Plugins/Misc.Sendinblue/runtimes/win-x86/native/libHarfBuzzSharp.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/osx/native/libSkiaSharp.dylib
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/osx/native/libHarfBuzzSharp.dylib
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/win-arm64/native/libSkiaSharp.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/win-arm64/native/libHarfBuzzSharp.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/win-x64/native/libSkiaSharp.dll
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/win-x64/native/libHarfBuzzSharp.dll
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/linux-arm/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/linux-arm64/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/linux-musl-x64/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/linux-x64/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/osx/native/libSkiaSharp.dylib
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/osx/native/libHarfBuzzSharp.dylib
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/win-x86/native/libSkiaSharp.dll
/Presentation/Nop.Web/Plugins/Payments.PayPalCommerce/runtimes/win-x86/native/libHarfBuzzSharp.dll
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/linux-arm/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/linux-arm64/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/linux-musl-x64/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/linux-x64/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/osx/native/libSkiaSharp.dylib
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/osx/native/libHarfBuzzSharp.dylib
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/win-x64/native/libSkiaSharp.dll
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/win-x64/native/libHarfBuzzSharp.dll
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/win-x86/native/libSkiaSharp.dll
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/runtimes/win-x86/native/libHarfBuzzSharp.dll
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/Views/Configuration/Configure.cshtml
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/Views/Pickup/_PickupDetails.cshtml
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/Views/Pickup/_PickupButtons.cshtml
/Presentation/Nop.Web/Plugins/Shipping.EasyPost/Views/Product/_CreateOrUpdate.EasyPost.cshtml
/Presentation/Nop.Web/Plugins/Tax.Avalara/Content/css/avalara.css
/Presentation/Nop.Web/Plugins/Tax.Avalara/runtimes/linux-arm/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/Tax.Avalara/runtimes/linux-arm64/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/Tax.Avalara/runtimes/linux-musl-x64/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/Tax.Avalara/runtimes/linux-x64/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/Tax.Avalara/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/Presentation/Nop.Web/Plugins/Tax.Avalara/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Presentation/Nop.Web/Plugins/Tax.Avalara/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
/Presentation/Nop.Web/Plugins/Tax.Avalara/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Presentation/Nop.Web/Plugins/Tax.Avalara/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/Presentation/Nop.Web/Plugins/Tax.Avalara/Views/Checkout/AppliedCertificate.cshtml
/Presentation/Nop.Web/Plugins/Tax.Avalara/Views/Configuration/_Configuration.cshtml
/Presentation/Nop.Web/Plugins/Tax.Avalara/Views/Configuration/Configure.cshtml
/Presentation/Nop.Web/Plugins/Tax.Avalara/Views/Customer/ExemptionCertificates.cshtml
/Presentation/Nop.Web/Plugins/Tax.Avalara/Views/EntityUseCode/_EntityUseCodeField.cshtml
/Presentation/Nop.Web/Plugins/Tax.Avalara/Views/EntityUseCode/EntityUseCode.cshtml
/Presentation/Nop.Web/Plugins/Tax.Avalara/Views/Log/View.cshtml
/Presentation/Nop.Web/Plugins/Tax.Avalara/Views/Log/List.cshtml
/Presentation/Nop.Web/Plugins/Widgets.NivoSlider/Content/nivoslider/sample-images/banner2.jpg
/Presentation/Nop.Web/Plugins/Widgets.NivoSlider/Content/nivoslider/sample-images/banner1.jpg
/Presentation/Nop.Web.Framework/obj/project.nuget.cache
/Presentation/Nop.Web.Framework/obj/project.assets.json
/Presentation/Nop.Web.Framework/obj/Nop.Web.Framework.csproj.nuget.g.targets
/Presentation/Nop.Web.Framework/obj/Nop.Web.Framework.csproj.nuget.g.props
/Presentation/Nop.Web.Framework/obj/Nop.Web.Framework.csproj.nuget.dgspec.json
/Tests/Nop.Tests/obj/project.nuget.cache
/Tests/Nop.Tests/obj/project.assets.json
/Tests/Nop.Tests/obj/Nop.Tests.csproj.nuget.g.targets
/Tests/Nop.Tests/obj/Nop.Tests.csproj.nuget.g.props
/Tests/Nop.Tests/obj/Nop.Tests.csproj.nuget.dgspec.json
/Tests/Nop.Tests/obj
/Presentation/Nop.Web/Plugins/Widgets.What3words/Content/styles.css
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/linux-x64/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/linux-arm64/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/linux-arm/native/libSkiaSharp.so
/Presentation/Nop.Web/Plugins/Widgets.NivoSlider/Scripts/jquery.nivo.slider.js
/Presentation/Nop.Web/Plugins/MultiFactorAuth.GoogleAuthenticator/runtimes/linux-musl-x64/native/libSkiaSharp.so
/Presentation/Nop.Web/App_Data/appsettings.json
