################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Presentation/Nop.Web/obj
/Libraries/Nop.Core/bin/Debug/net6.0
/Libraries/Nop.Core/obj/Debug/net6.0
/Libraries/Nop.Data/bin/Debug/net6.0
/Libraries/Nop.Data/obj/Debug/net6.0/ref
/Libraries/Nop.Data/obj/Debug/net6.0/refint
/Libraries/Nop.Services/bin/Debug/net6.0
/Libraries/Nop.Data/obj/Debug/net6.0
/Libraries/Nop.Services/obj/Debug/net6.0
/Presentation/Nop.Web/bin/Debug/net6.0
/Presentation/Nop.Web/Plugins/bin
/Presentation/Nop.Web.Framework/bin/Debug/net6.0
/Presentation/Nop.Web.Framework/obj/Debug/net6.0
/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/Debug/net6.0
/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj/Debug/net6.0
/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj/Debug/net6.0
/Plugins/Nop.Plugin.Misc.Sendinblue/obj/Debug/net6.0
/Plugins/Nop.Plugin.Misc.WebApi.Frontend/obj/Debug/net6.0
/Plugins/Nop.Plugin.MultiFactorAuth.GoogleAuthenticator/obj/Debug/net6.0
/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj/Debug/net6.0
/Plugins/Nop.Plugin.Widgets.What3words/obj/Debug/net6.0
/Plugins/Nop.Plugin.Widgets.NivoSlider/obj/Debug/net6.0
/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj/Debug/net6.0
/Plugins/Nop.Plugin.Widgets.FacebookPixel/obj/Debug/net6.0
/Plugins/Nop.Plugin.Widgets.AccessiBe/obj/Debug/net6.0
/Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/obj/Debug/net6.0
/Plugins/Nop.Plugin.Tax.Avalara/obj/Debug/net6.0
/Plugins/Nop.Plugin.Shipping.UPS/obj/Debug/net6.0
/Plugins/Nop.Plugin.Shipping.FixedByWeightByTotal/obj/Debug/net6.0
/Plugins/Nop.Plugin.Shipping.EasyPost/obj/Debug/net6.0
/Plugins/Nop.Plugin.Pickup.PickupInStore/obj/Debug/net6.0
/Plugins/Nop.Plugin.Payments.PayPalStandard/obj/Debug/net6.0
/Plugins/Nop.Plugin.Payments.PayPalCommerce/obj/Debug/net6.0
/Plugins/Nop.Plugin.Payments.Manual/obj/Debug/net6.0
/Presentation/Nop.Web/wwwroot/bundles
/Tests/Nop.Tests/bin/Debug/net6.0
/Tests/Nop.Tests/obj/Debug/net6.0
/Presentation/Nop.Web/wwwroot/images/thumbs
